<% content_for(:title, "Programming Languages") %>
<% content_for(:heading, "Programming Languages") %>

<p>
	<% if can? :create, ProgrammingLanguage %>
		<%= link_to 'New Language', new_programming_language_path, class: 'btn' %>
	<% end %>
</p>

<ul>
<% @languages.each do |lang| %>
	<li><%= link_to lang.name, lang %></li>
<% end %>
</ul>
