<h1>Programming::Languages#index</h1>
<p>View file app/views/programming/languages/index.html.erb</p>

<p>
	<%= link_to 'New Language', new_programming_language_path, class: 'btn' %>
</p>

<ul>
<% @languages.each do |lang| %>
	<li><%= link_to lang.name, lang %></li>
<% end %>
</ul>
