<div class="row">
	<div class="span5">
		<h2>Dynamic Stuff</h2>
		<p> </p>
		<ul>
			<li><%= link_to 'Programming Languages', programming_languages_path %></li>
			<li><%= link_to 'Programming Tasks', programming_tasks_path %></li>
		</ul>
	</div>
	<div class="span5">
		<h2>Static Stuff</h2>
		<p> </p>
		<ul>
			<li><%= link_to 'About Page', page_about_path %></li>
			<li><%= link_to 'Contact Page', page_contact_path %></li>
		</ul>
	</div>
</div>
