<h1>Page#home</h1>
<p>View file app/views/page/home.html.erb</p>

<div class="row">
	<div class="span6">
		<h3>Dynamic Stuff</h3>
		<p> </p>
		<ul>
			<li><%= link_to 'Programming Languages', programming_languages_path %></li>
			<li><%= link_to 'Programming Tasks', programming_tasks_path %></li>
		</ul>
	</div>
	<div class="span6">
		<h3>Static Stuff</h3>
		<p> </p>
		<ul>
			<li><%= link_to 'About Page', page_about_path %></li>
			<li><%= link_to 'Contact Page', page_contact_path %></li>
		</ul>
	</div>
</div>