<% content_for(:title, "Programming Tasks") %>
<% content_for(:heading, "Programming Tasks") %>

<p>
	<%= link_to 'New Task', new_programming_task_path, class: 'btn' %>
</p>

<ul>
<% @tasks.each do |task| %>
	<li><%= link_to task.name, task %></li>
<% end %>
</ul>
