$sansFontFamily: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serifFontFamily: 'Gentium Basic', Georgia, 'Times New Roman', Times, serif;
$linkColor: #88382D;
$headingsFontFamily: $serifFontFamily;
$headingsColor: #A84A5C;
$navbarHeight: 70px;

@import "bootstrap";

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), font-url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), font-url('OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), font-url('OpenSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), font-url('OpenSans-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Gentium Basic';
	font-style: normal;
	font-weight: 400;
	src: local('Gentium Basic'), local('GentiumBasic'), font-url('GenBasR.ttf') format('truetype');
}

@font-face {
	font-family: 'Gentium Basic';
	font-style: normal;
	font-weight: 700;
	src: local('Gentium Basic Bold'), local('GentiumBasic-Bold'), font-url('GenBasB.ttf') format('truetype');
}

@font-face {
	font-family: 'Gentium Basic';
	font-style: italic;
	font-weight: 400;
	src: local('Gentium Basic Italic'), local('GentiumBasic-Italic'), font-url('GenBasI.ttf') format('truetype');
}

@font-face {
	font-family: 'Gentium Basic';
	font-style: italic;
	font-weight: 700;
	src: local('Gentium Basic Bold Italic'), local('GentiumBasic-BoldItalic'), font-url('GenBasBI.ttf') format('truetype');
}

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.navbar .brand {
	color: #AD7460;
	background-color: lighten(#F9E3CB, 7%);
}

/* Navbar */

.navbar-inner {
	border: none;
	@include border-radius(0);
	background-image: none;
	box-shadow: 0 1px 5px rgba(34, 25, 25, 0.6);
}

.navbar .span12 {
	float: none;
	margin: auto;
}

.navbar .nav > li > a {
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
}

/* Footer */

.footer {
	.container {
		margin-top: 1.5em;
		padding-top: 0.5em;
		border-top: 1px solid #eee;
		color: $grayLight;
	}

	small {
		font-style: italic;
		@include font-family-serif();
	}

	ul {
		list-style: none;
		float: right;

		li {
			float: left;
			margin-left: 1.5em;
		}
	}

	a {
		color: $gray;
		text-decoration: none;
	}

	a:active, a:hover {
		color: $grayDark;
		text-decoration: underline;
	}
}

/* general */

body {
	background: white url('fabric.png') top left repeat;
}

.debug_dump {
	margin-top: 1em;
}

.code {
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	font-size: $baseFontSize - 1;
	@include font-family-monospace();
}

/* forms */

textarea {
	resize: vertical;
}

#error_explanation {
	color: $errorText;
	ul {
		list-style: square;
		margin-bottom: 1.5em;
	}
}

.field_with_errors {
	@include formFieldState($errorText, $errorText, $errorBackground);
}
