@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* general */

body {
	padding-top: 10px;
}

.debug_dump {
	margin-top: 1em;
}

/* forms */

textarea {
	resize: vertical;
}

input, textarea, select, .uneditable-input {
	width: 100%;
	padding: 0.5em;
	height: auto;
	margin-bottom: 1em;
	@include box_sizing;
}

#error_explanation {
	color: $errorText;
	ul {
		list-style: square;
		margin-bottom: 1.5em;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}
