@import "bootstrap";

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Font-Families */

@font-face {
	font-family: 'Lobster13Regular';
	src: font-url('Lobster_1.3-webfont.eot');
	src: font-url('Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
	     font-url('Lobster_1.3-webfont.ttf') format('truetype'),
	     font-url('Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Headings */

h1 {
	font-family: 'Lobster13Regular', serif;
}

/* Navbar */

.navbar-inner {
	@include border-radius(0);
}

/* Footer */

.footer {
	.container {
		margin-top: 1.5em;
		padding-top: 0.5em;
		border-top: 1px solid #eee;
		color: $grayLight;
	}

	small {
		font-style: italic;
		@include font-family-serif();
	}

	ul {
		list-style: none;
		float: right;

		li {
			float: left;
			margin-left: 1.5em;
		}
	}

	a {
		color: $gray;
		text-decoration: none;
	}

	a:active, a:hover {
		color: $grayDark;
		text-decoration: underline;
	}
}

/* general */

.debug_dump {
	margin-top: 1em;
}

.code {
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	font-size: $baseFontSize - 1;
	@include font-family-monospace();
}

/* forms */

textarea {
	resize: vertical;
}

input, textarea, select, .uneditable-input {
	padding: 0.5em;
}

.input-prepend .add-on, .input-append .add-on {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#error_explanation {
	color: $errorText;
	ul {
		list-style: square;
		margin-bottom: 1.5em;
	}
}

.field_with_errors {
	@include formFieldState($errorText, $errorText, $errorBackground);
}
